{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "FakeDOM.createElement"
      }
    ]
  ]
}
